<%-include("partials/header")-%>
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">View</h1>
            <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Crack Info</h6>
                
              </div>
              <div class="card-body">
                    <h1>Building: <%= view.buildingName%></h1>
                    <h5>Location: <%= view.location%></h5>
                    <h5>Author: <%= view.author%></h5>
                    <h5>Date Uploaded: <%= view.date%></h5>
                    <h5>Recommendation: <%= view.recommendation%></h5>
                    <img src="../uploads/<%= view.image%>" alt="" srcset="" style="
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 60rem;
                    display: block;
                    border-style: solid;
                    border-width: 5px;
                ">
                <br>
               </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; LPU COE 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
  
      </div>
      <!-- End of Content Wrapper -->
  
    </div>
    <!-- End of Page Wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
   
  
<%-include("partials/footer")-%>